/* This file exists only to be overridden by client projects.
 * It should always be empty.
 */

.JigctabEditor > .visual {
  width: 100%;
  height: 100%;
  object-fit: contain;
  image-rendering: pixelated;
}

.Rgb332Modal {
  display: flex;
  flex-direction: column;
}
.Rgb332Modal .preview {
  min-width: 100px;
  min-height: 100px;
}

.EditWorldModal {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.EditWorldModal .topRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}
.EditWorldModal .topRow .spacer {
  flex: 1;
}
.EditWorldModal .visual {
  flex: 1;
  min-width: 700px;
  min-height: 600px;
}
